body{
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header{
  text-align: center;
  background-color: black;
  margin-bottom: 20px;
  padding: 8px;
}

i{
  color: white;
  font-size: 26px;
  margin-right: 7px;
}

#mainTitle {
  display: inline;
  color: white;
  font-size: 25px;
}

/* Content */

h2{
  padding: 5px;
  margin-bottom: -10px;
}

section{
  margin: 0 20%;
  border: solid white 1px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.38);
}

img{
  width: 100%;
}


/* Caractéristiques */
ul {
  list-style: none;
  padding: 0;
}

li{
  padding: 10px;
}

.color{
  background-color: #e0e6e9;
}


/* Description */

details{
  padding: 5px 10px;
}


/* Footer */
footer{
  text-align: center;
  margin: 40px 0;
  color: grey;
  font-style: italic;
}
